/* styles.css */

.container {
    margin-top: 4rem;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    max-height: 200px;
}

.card-title {
    margin-bottom: 0.5rem;
}

.card-text {
    margin-bottom: 1rem;
}

.btn-warning {
    background-color: #ffc107;
    color: #212529;
    border-color: #ffc107;
}
